<ngx-extended-pdf-viewer
  [src]="pdfData"
  [height]="pdfViewerOptions.height"
  [showPresentationModeButton]="pdfViewerOptions.showPresentationModeButton"
  [showDownloadButton]="pdfViewerOptions.showDownloadButton"
  [showPrintButton]="pdfViewerOptions.showPrintButton"
  [showSecondaryToolbarButton]="pdfViewerOptions.showSecondaryToolbarButton"
  [showFindButton]="pdfViewerOptions.showFindButton"
  [showScrollingButton]="pdfViewerOptions.showScrollingButton"
  [showOpenFileButton]="pdfViewerOptions.showOpenFileButton"
  [showPagingButtons]="pdfViewerOptions.showPagingButtons"
  [page]="pdfViewerOptions.page"
  [zoom]="pdfViewerOptions.zoom"
  [minZoom]="pdfViewerOptions.minZoom"
  [maxZoom]="pdfViewerOptions.maxZoom"
  [showFindEntireWord]="true"
  [showFindHighlightAll]="true"
  [showFindMatchCase]="true"
  [showFindMatchDiacritics]="true"
  [showFindMultiple]="true"
  [showFindRegexp]="true"
  [textLayer]="true"
>
</ngx-extended-pdf-viewer>