@import "primeicons/primeicons.css";

$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$background-color: #ecf0f1;
$text-color: #2c3e50;

$primary-text-size: 1rem;
$secondary-text-size: 0.875rem;

.body {
  font-size: $secondary-text-size;
}


@media (max-width: 768px) {
  .step-navigation {
    flex-direction: column;
    text-align: center;
  }

  .step-navigation button {
    width: 100%;
    margin-top: 10px;
  }
}
