@import "primeicons/primeicons.css";

$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$background-color: #ecf0f1;
$text-color: #2c3e50;

$primary-text-size: 1rem;
$secondary-text-size: 0.875rem;

.body {
  font-size: $secondary-text-size;
}
.p-inputtext,
.p-password,
.p-dropdown,
.p-multiselect,
.p-input-icon-left,
.p-input-icon-right {
  width: 100% !important;
}

.p-inputtext.ng-invalid.ng-touched,
.p-password.ng-invalid.ng-touched .p-multiselect.ng-invalid.ng-touched {
  border-color: #b00020 !important;
}

p-dropdown.ng-invalid.ng-touched > .p-dropdown {
  border-color: #b00020 !important;
}

.custom-toast .p-toast-message-content {
  white-space: pre-line;
}

.custom-form-label {
  font-weight: 600;
  font-size: 14px;
}

.form-field-req-iocn {
  color: #b00020;
}

.form-field-err-msg {
  color: #b00020;
}

.lg-btn .p-button {
  width: 90%;
}

.table-section-card {
  margin-top: 2rem !important;
}

.p-column-filter-row p-columnfilterformelement {
  width: 100% !important;
}

.tbl-header-th {
  background: #e8eaf6;
  border-color: rgba(63, 81, 181, 0.12);
  color: #3f51b5;
}

.dt-tbl-tbody-td {
  padding: 0.25rem 0.5rem;
  font-size: $secondary-text-size;
}

.tbl-tool-btn-sec {
  display: flex;
}

.tbl-tool-btn .p-button.p-button-icon-only.p-button-rounded {
  color: #fff;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.tbl-tool-btn .pi {
  font-size: 1rem;
}

.ttb-filter .p-button.p-button-icon-only.p-button-rounded {
  background-color: #2196f3;
}

.ttb-excel .p-button.p-button-icon-only.p-button-rounded {
  background-color: #1d6f42;
}

.ttb-pdf .p-button.p-button-icon-only.p-button-rounded {
  background-color: #b30b00;
}

.ttb-print .p-button.p-button-icon-only.p-button-rounded {
  background-color: #6c757d;
}

.tbl-acn-btn-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tbl-acn-btn .p-button.p-button-icon-only.p-button-rounded {
  color: #fff;
  border: none;
  height: 2rem;
  width: 2rem;
  margin-right: 0.25rem;
}

.tab-edit .p-button.p-button-icon-only.p-button-rounded {
  background-color: #ff9800;
}

.tab-delete .p-button.p-button-icon-only.p-button-rounded {
  background-color: #f44336;
}

.tab-notification .p-button.p-button-icon-only.p-button-rounded {
  background-color: #b28704;
}

.tab-schedule .p-button.p-button-icon-only.p-button-rounded {
  background-color: #2196f3;
}

.tab-calculate .p-button.p-button-icon-only.p-button-rounded {
  background-color: #009688;
}

.tbl-acn-btn .pi {
  color: #fff;
  /* Change icon color */
  font-size: 1rem;
}

.tbl-acn-switch-btn .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: green !important;
}

.tbl-acn-switch-btn
  .p-inputswitch.p-inputswitch-checked
  .p-inputswitch-slider:before {
  background: white;
  border: 2px solid green;
}

.tbl-acn-switch-btn .p-inputswitch .p-inputswitch-slider {
  background-color: #ef9a9a;
}

.tbl-acn-switch-btn .p-inputswitch .p-inputswitch-slider:before {
}

.tbl-empty-msg {
  text-align: center;
  color: red;
}

.section-title-sec {
  background-color: #f1f5f9;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.section-title-sec-inner {
  border-left: 5px solid #64dd17;
  padding: 0.5rem;
}

.section-title {
  font-size: $primary-text-size;
  font-weight: bold;
  color: #007bff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.section-title i {
  margin-right: 8px;
}

.form-field-req-icon {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

input[pInputText] {
  height: 42px !important;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px 14px;
  border: 1px solid #ced4da;
  transition: all 0.3s ease-in-out;
}

input[pInputText]:focus,
p-dropdown .p-dropdown:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.25);
}

.drop-down .p-dropdown {
  height: 42px !important;
  display: flex;
  align-items: center;
}

.formgrid .field {
  margin-bottom: 15px;
}

.step-indicator {
  font-size: 1rem;
  font-weight: 40;
  padding: 8px 12px;
}

.submit-btn .p-button:disabled {
  background-color: red !important;
  color: white !important;
  opacity: 1;
}

.modal-title-sec {
}

.modal-title-sec-inner {
  border-left: 5px solid #64dd17;
  padding: 0.5rem;
}

.modal-title {
  font-size: $primary-text-size;
  font-weight: bold;
  color: #e65100;
  text-transform: uppercase;
}

.modal-body-sec {
  padding: 2rem 1rem 1rem 1rem;
}

.custom-modal .p-dialog-mask.p-component-overlay {
  z-index: 9997 !important;
}

.custom-toast {
  margin-top: 4rem;
}

//File Upload
.file-upload-dropzone {
  background: #eff1f6;
  border: 2px dashed #dadce1 !important;
  height: auto !important;
  padding: 2px !important;
  border-radius: 0px !important;
}

.file-upload-content {
  color: #717074 !important;
  height: auto !important;

  div {
    margin: 2rem 1rem 0rem 1rem;
    text-align: center;

    img {
      margin-bottom: 1.5rem;
    }
  }
}

.step-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
}

.p-button-text {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background 0.3s;
}

.p-button-success {
  background-color: #28a745;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 6px;
  transition: background 0.3s;
}

.p-button-success:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .step-navigation {
    flex-direction: column;
    text-align: center;
  }

  .step-navigation button {
    width: 100%;
    margin-top: 10px;
  }
}
